@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-candidate-background {
    background-image: url("../assets/auth/candidateBackground.png");
    @apply h-[350px] w-full;
  }
  .bg-employee-background{
    background-image: url("../assets/auth/employeeBackground.png");
    @apply h-[50vh] w-full;
  }
}

/* rewriting react number css */

.react-international-phone-input, .react-international-phone-country-selector-button{
  padding: 27px 20px !important;
  width: 100%;
}

.react-international-phone-country-selector-button{
background: #dbdbdb !important;
}